/* ROOT DE COLORES ENCRIPTADOR */
:root {
    --light-blue-100: hsla(227, 60%, 97%, 1);
    --dark-blue-300: hsl(215, 75%, 25%);
    --white: hsla(0, 0%, 100%, 1);
    --gray-500: hsla(210, 10%, 23%, 1);
    --decoder-btn: hsla(214, 26%, 88%, 1);
    --gray-400: hsla(210, 9%, 31%, 1);
}

/* reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter',
        sans-serif;
    font-family: 'Kanit',
        sans-serif;
    font-family: 'Ubuntu',
        sans-serif;
}

.main {
    min-height: 100%;
}

.fondo {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative;
    min-height: 100vh;
}

.index-fondo {
    background-image: url(../img/work-play.jpg);
}

/* ADIVINADOR */
.adivinador-fondo {
    background-image: url("../img/adivinador/fondoAdivinador.jpg");
}

/* MEMOTEST */
.memotest-fondo {
    background-image: url("../img/memotest/fondoTexturaGris.jpg");
}

/* ENCRIPTADOR */

.encriptador-fondo {
    background-image: url("../img/encriptador/encriptador-fondo.jpg");
}

/* AHORCADO */

.ahorcado-fondo {
    background-image: url("../img/ahorcado/fondo.png");

}

/* RANKING */
.ranking-fondo {
    background-image: url("../img/ranking/fondoRanking.jpg");
}

/* HEADER Y NAV */
.header {
    position: relative;
    width: 100%;
    background-color: transparent;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.nav-texto {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* INDEX */

.index-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.main-title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #cccccc;
    text-align: center;
    padding-top: 20px;
}

.card-index {
    position: relative;
    display: flex;
    width: 250px;
    height: 350px;
    background-color: #f7f5f7;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 50%);
    margin: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
}

.card-index__title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0c0c0c;
    text-align: center;
    padding-top: 20px;
}

.card-index__img {
    position: absolute;
    top: 50px;
    width: 150px;
    height: 150px;
    align-self: center;
}

.card-index__p {
    position: absolute;
    top: 58%;
    font-size: 1rem;
    font-weight: 400;
    color: #070707;
    text-align: center;
    padding: 20px;
}

.btn-jugar {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    background-color: #0c0c0c;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 0.8rem;
}

.btn-jugar a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
}

/* ADIVINADOR */

.adivinador-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.adivinador {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    margin: 12% 0;
}

.btn-inicioAdivinador {
    position: absolute;
    width: 200px;
    height: 200px;
    color: #fff;
    background-color: #b30ce6;
    border: none;
    border-radius: 50%;
    font-size: 2rem;
}

.hide {
    display: none;
}

.adivinador-input {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    margin: 12% 0;
    display: none;
    transition: all 0.
}

.adivinadorNumber-input {
    position: absolute;
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 50%;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: #a217de;
    resize: none;
    outline: none;
    background-color: #f7f5f7;
    padding: 10px;
}

.adivinador-input p {
    position: relative;
    font-size: 1.5rem;
    color: #fff;
    bottom: 9rem;
    padding: 1rem;
}


.adivinador-resultado {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    margin: 12% 0;
    display: none;
    transition: all 0.5s;
}

.resultado-Adivinador p {
    font-size: 3rem;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.show {
    display: flex;
}

/* MEMOTEST */
.header__title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #cccccc;
    text-align: center;
    padding-top: 20px;
}

.memotest-main,
.puntuacion-memotest {
    text-align: center;
    color: #fff;
}

.grilla-memotest {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 700px;
    height: 450px;
    align-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.grilla-memotest img {
    width: 100px;
    height: 100px;
    margin: 5px;
}

.puntuacion-memotest {
    margin: 20px;
    padding: 20px;
}

.puntuacion-memotest h3 span {
    margin: 5px;
    color: rgb(201, 186, 242);
}

/* ENCRIPTADOR */
.encriptador-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.header__title {
    font-family: 'Ubuntu',
        sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #cccccc;
    text-align: center;
    padding-top: 20px;
}

.text-inputUsuarioEncrip {
    width: 60%;
    padding: 16px;
    height: 500px;
    margin: 0 auto;
    border: none;
    resize: none;
}

.text-inputUsuarioEncrip,
.text-inputUsuarioEncrip::placeholder {
    color: var(--dark-blue-300);
}

.text-advertenciaEncrip {
    color: #f7f5f7;
    font-size: 16px;
}

.btn {
    border-radius: 10px;
    font-size: 24px;
    width: 300px;
    padding: 10px;
    margin-right: 5px;
    border: 1px solid var(--dark-blue-300);

}

.btn-encriptar {
    background-color: var(--dark-blue-300);
    color: var(--light-blue-100)
}

.btn-desencriptar {
    background-color: var(--decoder-btn);
    border: 1px solid var(--dark-blue-300);
    color: var(--dark-blue-300);
}

.text-output-sectionEncrip {
    position: absolute;
    background-color: #fff;
    width: 30%;
    height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    top: 60px;
    right: 60px;
    box-shadow: 2px 2px 20px rgb(0 0 0 / 50%);
}


.text-outputUsuarioEncrip {
    width: 100%;
    height: 500px;
    padding: 16px;
    background-color: #fff;
    resize: none;
    border: none;
    outline: none;
    border-radius: 15px;
}

.mostrarMensajeVacioEncrip {
    position: relative;
    display: flex;
    background-color: #fff;
    width: 90%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.mostrarMensajeVacioEncrip h3,
p {
    color: var(--dark-blue-300);
    font-size: 24px;
    background-color: transparent;
    text-align: center;
}

.mostrarMensajeVacioEncrip h3 {
    font-weight: 700;
}

.ilustracionEncrip {
    width: 250px;
    height: 250px;
    background-color: #fff;
}


.ocultarMensajeVacioEncrip {
    display: none;
}

.ocultarBtnCopiarEncrip {
    display: none;
    background: transparent;
    color: var(--dark-blue-300);
    border: 1px solid var(--dark-blue-300);
    margin: 15px auto;
}

.text-footerEncrip {
    height: 50px;
    display: flex;
    bottom: 0;
    font-size: 16px;
    color: var(--dark-blue-300);
    text-align: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: center;
}

.text-footerEncrip a {
    text-decoration: none;
    font-size: 16px;
    color: var(--dark-blue-300);
}

/* AHORCADO */
.audio-ahorcado {
    display: none;
}

.inicio-ahorcado {
    text-align: center;
}

.imagen-ahorcado {
    filter: drop-shadow(2px 2px 2px black);
    margin-left: 14px;
}


.titulo-ahorcado {
    width: 300px;
    font-family: 'Playfair Display', sans-serif;
    font-size: 40px;
    color: white;
    text-shadow: 3px 3px 4px black;
    top: 75px;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 15px;
    padding: 15px;
    position: absolute;
}

.subtitulo-ahorcado {
    width: 100%;
    font-family: 'Playfair Display', sans-serif;
    text-shadow: 2px 2px 3px black;
    color: white;
    margin: auto;
    margin-top: 10px;
}

.instrucciones-ahorcado {
    width: 50%;
    color: white;
    font-size: 16px;
    font-style: italic;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    margin: auto;
    margin-top: 16px;
    text-align: center;
}

.p-ahorcado {
    color: white;
    margin: auto;
}

.contenedor-ahorcado {
    width: 100%;
    height: 100%;
    text-align: center;
}

.panel-botones-ahorcado {
    padding-top: 20px;

}

.btn-ahorcado {
    width: 250px;
    height: 40px;
    background-color: #072B61;
    color: white !important;
    font-size: 15px;
    border: 2px solid;
    border-color: #072B61;
    box-shadow: 5px 5px 8px 0px rgb(20, 20, 20);
    outline: none;
    text-align: center;
}

.btn-ahorcado:before {
    background: rgba(96, 158, 212, 0.2);
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    content: "";
    position: absolute;
    transition: all 1s ease;
}

.btn-ahorcado:hover:before {
    width: 100%;
}

.panel-agregar-palabra-ahorcado {
    width: 250px;
    height: 50px;
    margin-top: 15px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.boton-agregar-palabra-ahorcado {
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
}

.text-input-ahorcado {
    width: 250px;
    height: 40px;
    font-size: 15px;
    border: #AAB2D5 1px solid;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    outline: none;
}

.panel-canvas-ahorcado {
    width: 410px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0px 0px 40px 0px white;
    border-style: none;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    align-content: center;
}

.canvas-ahorcado {
    width: 400px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0);
}

.input-teclado-ahorcado {
    width: 0px;
    height: 0px;
    background: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 0);
    border: none;
    margin: 0px;
    padding: 0px;
    outline: none;
}

/********************************/

/* EFECTOS */
.invisible-ahorcado {
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.visible-ahorcado {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.desplazar-izquierda-ahorcado {
    transform: translate(-125px, 0);
    box-shadow: 0px 5px 8px 0px rgb(20, 20, 20);
    transition: all 1s ease-in-out;
}

.desplazar-derecha-ahorcado {
    transform: translate(125px, 0);
    box-shadow: 5px 5px 8px 0px rgb(20, 20, 20);
    transition: all 1s ease-in-out;
}

.desplazar-original-ahorcado {
    transform: translate(0px, 0px);
    transition: all 1s ease-in-out;
}

.erratico-derecha-ahorcado {
    transform: translate(-120px, 0px);
    box-shadow: 0px 5px 8px 0px rgb(20, 20, 20);
    transition: all 0.1s ease-in-out;
}

.erratico-izquierda-ahorcado {
    transform: translate(-125px, 0px);
    box-shadow: 0px 5px 8px 0px rgb(20, 20, 20);
    transition: all 0.1s ease-in-out;
}



/* RANKING STAR */
.ranking-star {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    margin: 10px;
}

.star-style {
    margin-top: 10px;
    height: 40px;
    width: 40px;
    padding-right: 2px;
}

.star-container span {
    position: relative;
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.mostrar-valorStar {
    margin-top: 5px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

/* RANKING */

.ranking-fondo {
    width: 100vw;
    height: 100vh;
    background-color: #0c0c0c;

}

.header__title-ranking {
    font-family: 'Inter',
        sans-serif;
    color: #fff;
    font-size: 3rem;
    text-align: center;

}

.ranking-content {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.ranking {
    font-family: 'Inter',
        sans-serif;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
}

.card-puntaje {
    position: relative;
    display: flex;
    width: 250px;
    height: 400px;
    background-color: #f7f5f7;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 50%);
    margin: 20px;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.card-title__puntaje {

    color: #0c0c0c;
    font-size: 2rem;
    text-align: center;
    margin: 10px;
}

.card-title__puntaje {

    color: #0c0c0c;
    font-size: 2rem;
    text-align: center;
    margin: 10px;
}

.img-puntaje {
    position: absolute;
    top: 50px;
    width: 150px;
    height: 150px;
    align-self: center;
}

.h4-puntaje {
    position: relative;
    top: 8rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px auto;
}

.p-puntaje {
    position: absolute;
    top: 20rem;
    align-self: center;
    font-size: 1.5rem;
    color: black;
    margin: 0 15%;
}

.btn-puntaje {
    position: absolute;
    width: 100%;
    padding: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 50%);
}

/* FOOTER */

footer {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    width: 95%;
    height: 60px;
    background: transparent;
    padding: 20px;
    font-size: 1rem;
    color: #fff;
    flex-wrap: nowrap;
    align-content: center;
}

.footer-encriptador {
    position: relative;
}

footer p,
a {
    font-size: 1rem;
    color: #fff;
}

@media screen and (max-width:320px) {

    /* INDEX */
    .main-title {
        font-size: 2rem;
    }

    /* ADIVINADOR */
    .main-adivinador {
        min-height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .adivinador-input p {
        font-size: 1rem;
        top: 8rem;
    }

    .resultado-Adivinador p {
        font-size: 1.5rem;
    }

    /* MEMOTEST */

    .grilla-memotest {
        min-height: 100%;
        position: relative;
        top: 26rem;
        max-width: 320px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }


    .memotest-container {
        display: flex;
        position: absolute;
        height: 100vh;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: flex-start;
        align-items: baseline;
    }


    /* ENCRIPTADOR */


    .text-inputUsuarioEncrip {
        width: 100%;
        height: 200px
    }

    .text-output-sectionEncrip {
        position: relative;
        width: 100%;
        height: 350px;
        right: 0;
    }

    .btn {
        font-size: 1rem;
        width: 100%;
        padding: 10px;
    }

    .text-outputUsuarioEncrip {
        width: 100%;
        height: 250px;
        padding: 16px;
        margin: 0;
    }

    .mostrarMensajeVacioEncrip {
        position: relative;
        width: 90%;
        height: 350px;
        margin: 0 auto;
    }

    .ilustracionEncrip {
        width: 150px;
        height: 150px;
        margin: 0 auto;
    }

    .mostrarMensajeVacioEncrip h3,
    p {
        font-size: 20px;
        background-color: transparent;
        text-align: center;
    }


    .ocultarBtnCopiarEncrip {
        margin: 0 auto;
    }

    /* AHORCADO */
    .h2-ahorcado {
        width: 250px;
    }

    .instrucciones-ahorcado {
        width: 250px;
    }

    .btn-ahorcado {
        width: 150px;
        height: 20px;
        font-size: 11px;
    }

    .panel-agregar-palabra-ahorcado {
        width: 150px;
        height: 20px;
        margin-top: 8px;
    }

    .text-input-ahorcado {
        width: 150px;
        height: 20px;
        font-size: 11px;
        background-color: #EFF1FA;
        border-color: #AAB2D5 2px solid;
        outline: none;
    }

    .panel-canvas-ahorcado {
        width: 250px;
        margin-bottom: 6px;
        padding: 3px;
        align-content: center;
    }

    .canvas-ahorcado {
        width: 240px;
        height: 300px;
    }

    .desplazar-izquierda-ahorcado {
        transform: translate(-75px, 0);
    }

    .desplazar-derecha-ahorcado {
        transform: translate(75px, 0);
    }

    .erratico-derecha-ahorcado {
        transform: translate(-70px, 0);
    }

    .erratico-izquierda-ahorcado {
        transform: translate(-75px, 0);
    }


    /* RANKING STAR */

    .star-encriptador,
    .star-memotest {
        display: none;
    }

    /* RANKING */

    .ranking-fondo {
        width: 100vw;
        height: 100vh;
        background-color: #0c0c0c;

    }

    .header__title-ranking {
        font-family: 'Inter',
            sans-serif;
        color: #fff;
        font-size: 3rem;
        text-align: center;

    }

    .ranking-content {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around;
        align-items: center;
    }

    .ranking {
        font-family: 'Inter',
            sans-serif;
        color: #fff;
        font-size: 1.5rem;
        text-align: center;
    }

    .card-puntaje {
        width: 200px;
        height: 350px;
        margin: 10px;
    }

    .card-title__puntaje {

        color: #0c0c0c;
        font-size: 1.5rem;
        text-align: center;
        margin: 10px;
    }

    .card-title__puntaje {

        color: #0c0c0c;
        font-size: 1rem;
        text-align: center;
        margin: 10px;
    }

    .img-puntaje {
        position: absolute;
        top: 50px;
        width: 100px;
        height: 100px;
        align-self: center;
    }

    .h4-puntaje {
        position: relative;
        top: 8rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0px auto;
    }

    .p-puntaje {
        position: absolute;
        top: 17rem;
        align-self: center;
        font-size: 1rem;
        color: black;
        margin: 0 15%;
    }

    .btn-puntaje {
        position: absolute;
        width: 100%;
        padding: 0;
        bottom: 0;
        left: 0;
        height: 40px;
        box-shadow: 0px 0px 10px rgb(0 0 0 / 50%);
    }

    /* FOOTER */
    .footer-encriptador {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: flex-end;
        flex-wrap: wrap;
        flex-direction: row;
        bottom: -4rem;
    }

    .footer-encriptador__a {
        color: #000000;
    }

    .footer-memotest {
        display: none;
    }

    footer {
        position: relative;
    }

    footer p,
    a {
        font-size: 0.8rem;
    }

}

@media screen and (min-width: 321px) and (max-width:480px) {

    /* INDEX */
    .main-title {
        font-size: 2rem;
    }

    /* ADIVINADOR */
    .main-adivinador {
        min-height: 100vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .adivinador-input p {
        font-size: 1rem;
        top: 8rem;
    }

    .resultado-Adivinador p {
        font-size: 1.5rem;
    }

    /* MEMOTEST */
    .grilla-memotest {
        min-height: 100%;
        position: relative;
        top: 0rem;
        max-width: 480px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }


    .memotest-container {
        display: flex;
        position: absolute;
        height: 100vh;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: flex-start;
        align-items: baseline;
    }


    /* ENCRIPTADOR */


    .text-inputUsuarioEncrip {
        width: 100%;
        height: 200px
    }

    .text-output-sectionEncrip {
        position: relative;
        width: 100%;
        height: 350px;
        right: 0;
    }

    .btn {
        font-size: 1rem;
        width: 100%;
        padding: 10px;
    }

    .text-outputUsuarioEncrip {
        width: 100%;
        height: 250px;
        padding: 16px;
        margin: 0;
    }

    .mostrarMensajeVacioEncrip {
        position: relative;
        width: 90%;
        height: 350px;
        margin: 0 auto;
    }

    .ilustracionEncrip {
        width: 150px;
        height: 150px;
        margin: 0 auto;
    }

    .mostrarMensajeVacioEncrip h3,
    p {
        font-size: 20px;
        background-color: transparent;
        text-align: center;
    }


    .ocultarBtnCopiarEncrip {
        margin: 0 auto;
    }

    /* AHORCADO */
    .h2-ahorcado {
        width: 250px;
    }

    .instrucciones-ahorcado {
        width: 250px;
    }

    .btn-ahorcado {
        width: 150px;
        height: 20px;
        font-size: 11px;
    }

    .panel-agregar-palabra-ahorcado {
        width: 150px;
        height: 20px;
        margin-top: 8px;
    }

    .text-input-ahorcado {
        width: 150px;
        height: 20px;
        font-size: 11px;
        background-color: #EFF1FA;
        border-color: #AAB2D5 2px solid;
        outline: none;
    }

    .panel-canvas-ahorcado {
        width: 250px;
        margin-bottom: 6px;
        padding: 3px;
        align-content: center;
    }

    .canvas-ahorcado {
        width: 240px;
        height: 300px;
    }

    .desplazar-izquierda-ahorcado {
        transform: translate(-75px, 0);
    }

    .desplazar-derecha-ahorcado {
        transform: translate(75px, 0);
    }

    .erratico-derecha-ahorcado {
        transform: translate(-70px, 0);
    }

    .erratico-izquierda-ahorcado {
        transform: translate(-75px, 0);
    }

    /* RANKING STAR */



    .ranking-star {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        height: 12%;
    }

    .star-encriptador {
        display: none;
    }

    /* RANKING */

    .ranking-fondo {
        width: 100vw;
        height: 100vh;
        background-color: #0c0c0c;

    }

    .header__title-ranking {
        font-family: 'Inter',
            sans-serif;
        color: #fff;
        font-size: 3rem;
        text-align: center;

    }

    .ranking-content {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-around;
        align-items: center;
    }

    .ranking {
        font-family: 'Inter',
            sans-serif;
        color: #fff;
        font-size: 1.5rem;
        text-align: center;
    }

    .card-puntaje {
        position: relative;
        display: flex;
        width: 250px;
        height: 400px;
        background-color: #f7f5f7;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgb(0 0 0 / 50%);
        margin: 20px;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .card-title__puntaje {

        color: #0c0c0c;
        font-size: 2rem;
        text-align: center;
        margin: 10px;
    }

    .card-title__puntaje {

        color: #0c0c0c;
        font-size: 2rem;
        text-align: center;
        margin: 10px;
    }

    .img-puntaje {
        position: absolute;
        top: 50px;
        width: 150px;
        height: 150px;
        align-self: center;
    }

    .h4-puntaje {
        position: relative;
        top: 8rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0px auto;
    }

    .p-puntaje {
        position: absolute;
        top: 20rem;
        align-self: center;
        font-size: 1.5rem;
        color: black;
        margin: 0 15%;
    }

    .btn-puntaje {
        position: absolute;
        width: 100%;
        padding: 0;
        bottom: 0;
        left: 0;
        height: 40px;
        box-shadow: 0px 0px 10px rgb(0 0 0 / 50%);
    }

    /* FOOTER */
    footer {
        position: relative;
    }

    footer p,
    a {
        font-size: 0.8rem;
    }

    .footer-encriptador {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: flex-end;
        flex-wrap: wrap;
        flex-direction: row;
        bottom: -4rem;
    }

    .footer-encriptador__a {
        color: #000000;
    }

    .footer-memotest {
        position: absolute;
        bottom: -36rem;
    }
}

@media screen and (max-width: 768px) {

    .h2-ahorcado {
        width: 330px;
    }

    .instrucciones-ahorcado {
        width: 330px;
    }

    .btn-ahorcado {
        width: 200px;
        height: 30px;
        font-size: 13px;
    }

    .panel-agregar-palabra-ahorcado {
        width: 200px;
        height: 40px;
        margin-top: 10px;
    }

    .text-input-ahorcado {
        width: 200px;
        height: 30px;
        font-size: 13px;
        border: #AAB2D5 1px solid;
        outline: none;
    }

    .panel-canvas-ahorcado {
        width: 330px;
        margin-bottom: 8px;
        padding: 4px;
        align-content: center;
    }

    .canvas-ahorcado {
        width: 320px;
        height: 400px;
    }

    .desplazar-izquierda-ahorcado {
        transform: translate(-100px, 0);
    }

    .desplazar-derecha-ahorcado {
        transform: translate(100px, 0);
    }

    .erratico-derecha-ahorcado {
        transform: translate(-95px, 0);
    }

    .erratico-izquierda-ahorcado {
        transform: translate(-100px, 0);
    }
}