/* reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter',
        sans-serif;
    font-family: 'Kanit',
        sans-serif;
    font-family: 'Ubuntu',
        sans-serif;
}

.fondo {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
}

.index-fondo {
    background-image: url(../img/work-play.jpg);
}

/* ADIVINADOR */
.adivinador-fondo {
    background-image: url("../img/adivinador/fondoAdivinador.jpg");
}

/* MEMOTEST */
.memotest-fondo {
    background-image: url("../img/memotest/fondoTexturaGris.jpg");
}

/* ENCRIPTADOR */


/* HEADER Y NAV */
.header {
    position: sticky;
    width: 100%;
    height: 60px;
    background-color: transparent;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.nav-texto {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* INDEX */

.index-main {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.main-title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: #cccccc;
    text-align: center;
    padding-top: 20px;
}

.card-index {
    position: relative;
    display: flex;
    width: 250px;
    height: 350px;
    background-color: #f7f5f7;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 50%);
    margin: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
}

.card-index__title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #0c0c0c;
    text-align: center;
    padding-top: 20px;
}

.card-index__img {
    position: absolute;
    top: 50px;
    width: 150px;
    height: 150px;
    align-self: center;
}

.card-index__p {
    position: absolute;
    top: 58%;
    font-size: 1rem;
    font-weight: 400;
    color: #070707;
    text-align: center;
    padding: 20px;
}

.btn-jugar {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    background-color: #0c0c0c;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 0.8rem;
}

.btn-jugar a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
}

/* ADIVINADOR */

.adivinador-main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.adivinador {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    margin: 12% 0;

}

.btn-inicioAdivinador {
    position: absolute;
    width: 200px;
    height: 200px;
    color: #fff;
    background-color: #b30ce6;
    border: none;
    border-radius: 50%;
    font-size: 2rem;
}

.hide {

    display: none;
}

.adivinador-input {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    margin: 12% 0;
    display: none;
    transition: all 0.
}

.adivinadorNumber-input {
    position: absolute;
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 50%;
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: #a217de;
    resize: none;
    outline: none;
    background-color: #f7f5f7;
    padding: 10px;
}

.adivinador-input p {
    position: relative;
    font-size: 1.5rem;
    color: #fff;
    bottom: 9rem;
    padding: 1rem;
}


.adivinador-resultado {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    margin: 12% 0;
    display: none;
    transition: all 0.5s;
}

.resultado-Adivinador p {
    font-size: 3rem;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.show {
    display: flex;
}

/* MEMOTEST */

.memotest-main,
.puntuacion-memotest {
    text-align: center;
    color: #fff;
}

.grilla-memotest {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 700px;
    height: 450px;
    align-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.grilla-memotest img {
    width: 100px;
    height: 100px;
    margin: 5px;
}

.puntuacion-memotest {
    margin: 20px;
    padding: 20px;
}

.puntuacion-memotest h3 span {
    margin: 5px;
    color: rgb(201, 186, 242);
}

/* RANKING */

.ranking-fondo {
    width: 100vw;
    height: 100vh;
    background-color: #0c0c0c;

}

.header__title-ranking {
    font-family: 'Inter',
        sans-serif;
    color: #fff;
    font-size: 3rem;
    text-align: center;

}

.ranking {
    font-family: 'Inter',
        sans-serif;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
}

/* FOOTER */

footer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    width: 95%;
    height: 60px;
    background: transparent;
    padding: 20px;
    font-size: 1rem;
    color: #fff;
    flex-wrap: nowrap;
    align-content: flex-end;
}

footer a {
    font-size: 1rem;
    color: #fff;
}

@media screen and (max-width: 600px) {
    .fondo {
        height: 100%;
    }

    .fondoAdivinador {
        height: 100vh;
    }

    .btn-inicioAdivinador {
        position: relative;
        width: 150px;
        height: 150px;
        font-size: 1.5rem;
    }

    .adivinadorNumber-input {
        width: 150px;
        height: 150px;
        font-size: 3rem;
    }

    .adivinador-input p {
        font-size: 1rem;
        bottom: 5rem;
        padding: 1rem;
        margin-bottom: 50px;
    }

    .resultado-Adivinador p {
        font-size: 1rem;

    }

}